@page
@model GameModel
@{
    ViewData["Title"] = "Gra";
    var map = Model.GetMapRepresentation();
}

<h1>Gra</h1>

<div>
    <h2>Pozycja gracza: (@Model.PlayerPosition.X, @Model.PlayerPosition.Y)</h2>
</div>


<div class="map">
    @for (int y = 0; y < map.Count; y++)
    {
        @for (int x = 0; x < map[y].Count; x++)
        {
            <div class="cell" data-content="@map[y][x]">@map[y][x]</div>
        }
    }
</div>

<div class="controls">
    <form method="post" asp-page-handler="Move" asp-route-direction="Up">
        <button type="submit">W</button>
    </form>
    <div>
        <form method="post" asp-page-handler="Move" asp-route-direction="Left">
            <button type="submit">A</button>
        </form>
        <form method="post" asp-page-handler="Move" asp-route-direction="Down">
            <button type="submit">S</button>
        </form>
        <form method="post" asp-page-handler="Move" asp-route-direction="Right">
            <button type="submit">D</button>
        </form>
    </div>
</div>