@page
@model SimWeb.Pages.IndexModel



<main class="main-content">
    <section class="trip-section">
        <div class="trip-card">
            <div class="trip-image">
                <img src="/img/wercia.png" alt="">
            </div>
            <div class="trip-details">
                <h2>Fabuła Gry</h2>
                <p>Grupa znajomych miała spotkać się na miasteczku studenckim, ale jedna osoba - Weronika, zgubiła się (ma słabą orientację w terenie). Tobie przypadło zadanie odnalezienia Weroniki i dołączenia do reszty grupy.</p>
                <p class="trip-date"> Znajdź Weronikę, a następnie udajcie się do reszty znajomych. </p>
                <p class="trip-location">Naciśnij 'Game' aby rozpocząć!</p>
                
            </div>
        </div>
    </section>

    <section class="trip-section">
        <div class="trip-card">
            <div class="trip-image">
                <img src="/img/ola.png" alt="">
            </div>
            <div class="trip-details">
                <h2>Jak grać?</h2>
                <p>W/A/S/D - Poruszanie się po mapie</p>
                <p>E - Zbieranie kluczy</p>
                <p>Q - Otwieranie zablokowanych miejsc</p>
                <p>U - użycie eliksirów</p>
                <p>I - Interakcje z inwentarzem</p>
                <p class="trip-date">Po lewo znajduje się postać, którą można się poruszać.</p>
                <p>Ewentualnie, można poruszać się za pomocą przycisków znajdujących się na ekranie.</p>
            </div>
        </div>
    </section>

    <div class="slideshow-container">
        <div class="slide fade">
            <img src="/img/bezowychomik.png" alt="Image 1">
        </div>
        <div class="slide fade">
            <img src="/img/bialychomik.png" alt="Image 2">
        </div>
        <div class="slide fade">
            <img src="/img/czarnychomik.png" alt="Image 3">
        </div>
        <div class="slide fade">
            <img src="/img/szarychomik.png" alt="Image 3">
        </div>
    </div>

    <section class="trip-section upcoming">
        <div class="trip-card">
            
            <div class="trip-details">
                <h2>O projekcie</h2>
                <p>Gra została wykonana z wykorzystaniem programowania obiektowego w C# i Razor Pages, w ramach kursu Pracownia Programowania 3.</p>
                <p class="trip-date">Miłego grania!</p>
                <p class="trip-location">Aleksandra Marasek, Weronika Niewiadomska</p>
                
            </div>
        </div>
    </section>

<div class="slideshow-container">
    <div class="slide fade">
        <img src="/img/bezowychomik.png" alt="Image 1">
    </div>
    <div class="slide fade">
        <img src="/img/bialychomik.png" alt="Image 2">
    </div>
    <div class="slide fade">
        <img src="/img/czarnychomik.png" alt="Image 3">
    </div>
    <div class="slide fade">
        <img src="/img/szarychomik.png" alt="Image 3">
    </div>
</div>

<script>
    let slideIndex = 0;

    function showSlides() {
        const slides = document.getElementsByClassName("slide");

        // Ukryj wszystkie slajdy
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        // Przejdź do następnego slajdu
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }

        // Pokaż bieżący slajd
        slides[slideIndex - 1].style.display = "block";

        // Ustaw czas wyświetlania
        setTimeout(showSlides, 3000); // 3000 ms = 3 sekundy
    }

    // Uruchom pokaz slajdów
    showSlides();

</script>