html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family:Helvetica;
    text-align: center;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0px;
    background-color: #c5d6d9;
}

h1 {
    font-family: Helvetica;
    font-size: 30px;
}

b {
    font-family: Helvetica;
}

a {
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
}

header {
    background: linear-gradient(90deg,#5e777a, #859b9e, #b3c6c9);
    color: #fff;
    padding: 5px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

footer {
    background: linear-gradient(90deg,#5e777a, #859b9e, #b3c6c9);
    color: #fff;
    padding: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.2rem;
}

    .navbar-links a:hover {
        text-decoration:dotted;
        color: black;
    }

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

/* Styl dla obrazów w slajdzie */
.slide img {
    width: 100%;
    display: block;
    
}

/* Styl dla efektu przejœcia */
.fade {
    animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}